{% extends 'dashboard/base_dashboard.html.twig' %}

{% block title %}Mot de passe{% endblock %}

{% block body %}
    <!-- BREADCRUMBS -->
    <div class="row">
        <div class="col-12">
            <div class="card radius-top">
                <div class="card-body">

                    <div class="d-flex justify-content-between">
                        <div class="row">
                            <div class="col-auto">
                                <i class="fa fa-cog circular circular-success"></i>
                            </div>
                            <div class="col pt-4">
                                <h4 class="card-title">Mon Compte</h4>
                                <p class="text-muted">Gestion de votre compte</p>
                            </div>
                        </div>
                        <div class="d-inline-flex">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="breadcrumbs-container bg-light">
                {{ wo_render_breadcrumbs() }}
            </div>
        </div>
    </div>
    <!-- BREADCRUMBS -->

    <div class="row mt-4">

        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    <h4 class="card-title">Changement de mot de passe</h4>


                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="text-grey required">Ancien mot de passe</label>
                                {{ form_widget(form.oldpassword) }}
                                {{ form_errors(form.oldpassword) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="text-grey required">Mot de passe</label>
                                {{ form_widget(form.password.first) }}
                                {{ form_errors(form.password.first) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="text-grey required">Répéter le mot de passe</label>
                                {{ form_widget(form.password.second) }}
                                {{ form_errors(form.password.second) }}
                            </div>
                        </div>
                    </div>
                </div>


                <button type="submit" class="btn btn-primary">Sauvegarder</button>
                {{ form_end(form) }}

            </div>
        </div>

    </div>
{% endblock %}
