{% extends 'back/base_admin.html.twig' %}

{% block title %}Modifier un Type{% endblock %}

{% block body %}

    <!-- BREADCRUMBS -->
    <div class="row pb-4">
        <div class="col-auto">
            <i class="fa fa-folder-open circular circular-success"></i>
        </div>
        <div class="col pt-3">
            <h1 class="h1 bdc-title">Modifier un Type</h1>
            <span class="text-grey">Gestion des types</span>
        </div>
        <div class="col text-right">
            <a href="{{ path('type_index') }}" class="btn btn-success-light btn-md">
                <i class="fa fa-table"></i>
                <span class="px-2 font-weight-normal">Liste</span></a>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-12">
            {{ wo_render_breadcrumbs() }}
        </div>
    </div>
    <!-- BREADCRUMBS -->

    <!-- FORMULAIRE ADD OBJETS -->
    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="box p-4">

                <div class="row">

                    <div class="col-md-6 col-sm-12">
                        {{ form_start(form) }}
                        <div class="box p-4">
                            <div class="box-header p-0 pb-2 mb-3"><h3>Informations générales</h3></div>

                            {{ form_errors(form) }}

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="text-grey is-required">Nom</label>
                                        {{ form_widget(form.nom) }}
                                        {{ form_errors(form.nom) }}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="text-grey is-required">Image</label>
                                        {{ form_widget(form.imageFile) }}
                                        {{ form_errors(form.imageFile) }}
                                    </div>
                                </div>
                            </div>

                        </div>
                        <button type="submit" class="btn btn-success-light">Sauvegarder</button>
                        {{ form_end(form) }}
                    </div>

                    <div class="col-md-6 col-sm-12">
                        {{ form_start(formTheme) }}
                        <div class="box p-4">
                            <div class="box-header p-0 pb-2 mb-3"><h3>Créer un thème</h3></div>

                            {{ form_errors(formTheme) }}

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="text-grey is-required">Nom</label>
                                        {{ form_widget(formTheme.nom) }}
                                        {{ form_errors(formTheme.nom) }}
                                    </div>
                                </div>
                            </div>

                        </div>
                        <button type="submit" class="btn btn-success-light">Sauvegarder</button>
                        {{ form_end(formTheme) }}
                    </div>

                </div>

                <div class="row mt-4">

                    <div class="col-md-6 col-sm-12"></div>

                    <div class="col-md-6 col-sm-12 ">
                        <div class="box p-4">
                            <div class="box-header p-0 pb-2 mb-3"><h3>Thèmes</h3></div>

                            <table class="table table-bordered bg-white">
                                <thead>
                                <tr>
                                    <th>
                                        Nom
                                    </th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for theme in type.themes %}
                                    <tr>
                                        <td>
                                            {{ theme.nom }}
                                        </td>
                                        <td>
                                            <div class="btn-group" role="group" aria-label="Basic example">
                                                <a href="{{ path('theme_edit', {'id': theme.id}) }}"
                                                   class="btn btn-grey btn-md"><i
                                                            class="fa fa-pencil"></i> <span
                                                            class="font-weight-normal">Modifier</span></a>

                                                <button class="btn btn-danger btn-md open-modal-delete"
                                                        data-toggle="modal" data-target="#modalDelete"
                                                        onclick="deleteElement(this)"
                                                        data-delete-path="{{ path('theme_delete', {'id': theme.id}) }}"
                                                        data-delete-id="{{ theme.id }}"
                                                        data-delete-label="{{ theme.nom }}">
                                                    <i class="fa fa-trash"></i>
                                                    <span class="font-weight-normal">Supprimer</span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="999">
                                            <div class="alert alert-danger">Aucun résultat trouvé</div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- FORMULAIRE ADD OBJETS -->
{% endblock %}
