{% extends 'back/base_admin.html.twig' %}

{% block title %}Créer un Type{% endblock %}

{% block body %}

    <!-- BREADCRUMBS -->
    <div class="row pb-4">
        <div class="col-auto">
            <i class="fa fa-folder-open circular circular-success"></i>
        </div>
        <div class="col pt-3">
            <h1 class="h1 bdc-title">Créer un Type</h1>
            <span class="text-grey">Gestion des types</span>
        </div>
        <div class="col text-right">
            <a href="{{ path('type_index') }}" class="btn btn-success-light btn-md">
                <i class="fa fa-table"></i>
                <span class="px-2 font-weight-normal">Liste</span></a>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-12">
            {{ wo_render_breadcrumbs() }}
        </div>
    </div>
    <!-- BREADCRUMBS -->

    <!-- FORMULAIRE ADD OBJETS -->
    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="box p-4">

                <div class="row">
                    <div class="col-12">
                        <div class="box p-4">
                            <div class="box-header p-0 pb-2 mb-3"><h3>Informations générales</h3></div>
                            {{ form_errors(form) }}

                            {{ form_start(form) }}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="text-grey is-required">Nom</label>
                                        {{ form_widget(form.nom) }}
                                        {{ form_errors(form.nom) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-success-light">Sauvegarder</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FORMULAIRE ADD OBJETS -->
{% endblock %}