<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
    <title>{{ nomdusite }} | Connexion</title>
    <meta name="description" content="{{ descriptiondusite }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
    <link rel="apple-touch-icon" href="{{ asset('assets/images/favicon.ico') }}">
    <meta name="apple-mobile-web-app-title" content="Flatkit">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" sizes="196x196" href="{{ asset('assets/images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ asset('assets/font-awesome/font-awesome.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/css/app.min.css') }}">
</head>

<body class="pace-done" ui-class="">
<div class="pace  pace-inactive">
    <div class="pace-progress" data-progress-text="100%" data-progress="99"
         style="transform: translate3d(100%, 0px, 0px);">
        <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div>
</div>
<div class="d-flex flex-column flex">
    <div id="content-body">
        <div class="row py-5 justify-content-center w-100">
            <div class="col-3 col-lg-3">
                <img class="py-4" style="width:inherit;" src="{{ asset('assets/images/logo.png') }}"/>

                <div class="box p-5">
                    <!-- FLASHS -->
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <!-- FLASHS -->
                    <h4>Connexion</h4>
                    <hr/>
                    <!-- FORMULAIRE DE CONNEXION -->
                    <form method="post" novalidate>
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <div class="form-group">
                            <label for="inputUsername" class="required text-grey">Username</label>
                            <input type="text" value="{{ last_username }}" name="username" id="inputUsername"
                                   class="form-control" placeholder="Username..." required autofocus>
                        </div>

                        <div class="form-group">
                            <label for="inputPassword" class="required text-grey">Mot de passe</label>
                            <input type="password" placeholder="Mot de passe..." name="password" id="inputPassword"
                                   class="form-control"
                                   required>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        {#
                            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                            See https://symfony.com/doc/current/security/remember_me.html

                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" name="_remember_me"> Remember me
                                </label>
                            </div>
                        #}

                        <button class="btn btn-block btn-success-light" type="submit">Connexion</button>
                        <br/>
                        <div class="text-center text-grey font-italic">ou</div>
                        <br/>
                        <a class="btn btn-block btn-grey" href="{{ path('app_register') }}">Inscription</a>

                    </form>
                    <!-- FORMULAIRE DE CONNEXION -->
                </div>

            </div>
        </div>
    </div>
</div>
<script src="{{ asset('assets/js/app.min.js') }}"></script>
</body>
</html>	
