{% extends 'dashboard/base_dashboard.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <ul>
    {% for livre in pagination %}
        <li>{{ livre.nom }} de <b>{{ livre.auteur }}</b> sortie le <i>{{ livre.dateSortie|date('d-m-Y') }}</i> <br/>
        état : {{ livre.etat }} - <a href="{{ path('dashboard_livre_show', {'hash': livre.hash}) }}">VOIR</a>
        <br/>

            <b>Reservé par</b>:
            {% if livre.reserverPar is not null %}
                {{ livre.reserverPar.username }}
                {{ livre.reserverPar.prenom }}
                {{ livre.reserverPar.nom }}
                {% else %}
                PERSONNE
            {% endif %}
            <br/>
            <br/>
        </li>
    {% endfor %}
    </ul>
{% endblock %}



