{% extends 'dashboard/base_dashboard.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <!-- BREADCRUMBS -->
    <div class="row">
        <div class="col-12">
            <div class="card radius-top">
                <div class="card-body">

                    <div class="d-flex justify-content-between">
                        <div class="row">
                            <div class="col-auto">
                                <i class="fa fa-book circular circular-success"></i>
                            </div>
                            <div class="col pt-4">
                                <h4 class="card-title">Livres disponibles</h4>
                                <p class="text-muted">Liste des livres disponibles à l'emprunt</p>
                            </div>
                        </div>
                        <div class="d-inline-flex">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="breadcrumbs-container bg-light">
                {{ wo_render_breadcrumbs() }}
            </div>
        </div>
    </div>
    <!-- BREADCRUMBS -->

    <!-- FORMULAIRE DE FILTRE -->
    {{ form_start(form) }}
    <div class="row mx-0 mt-4">
        <div class="col-4 bg-white radius-left">
            {{ form_widget(form.nom) }}
        </div>
        <div class="col-4 bg-white border-left-grey">
            {{ form_widget(form.type) }}
        </div>
        <div class="col-4 bg-light text-right radius-rigth d-inline-flex p-0">
            <button class="btn btn-link text-primary pr-0" type="submit"><i class="fa fa-search"></i></button>
            <a href="{{ app.request.pathinfo }}" class="btn btn-link text-primary"><i class="fa fa-times"></i></a>
        </div>
    </div>
    {{ form_end(form) }}
    <!-- FORMULAIRE DE FILTRE -->

    <div class="card-columns mt-4">
        {% for livre in pagination %}
            <div class="card">
                <div class="bg-dark text-center">
                    <img class="card-img-top" src="{{ vich_uploader_asset(livre, 'imageFile') }}" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{ livre.nom }}</h4>
                    <p class="card-text">{{ livre.description }}</p>
                </div>
                <a href="{{ path('dashboard_livre_show', {'hash': livre.hash}) }}" class="btn btn-primary w-100"><i
                            class="fa fa-arrow-right"></i></a>
            </div>
                {% else %}

        {% endfor %}
    </div>

    {% if pagination|length == 0 %}
        <div class="row">
            <div class="col-12">
                <div class="alert alert-warning">Aucun livre ne correspond à votre recherche</div>
            </div>
        </div>
    {% endif %}

{% endblock %}
