<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
    <title>Dashboard | Apply - Bootstrap 4 Web Application</title>
    <meta name="description" content="Responsive, Bootstrap, BS4">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
    <link rel="apple-touch-icon" href="{{ asset('assets/images/favicon.ico') }}">
    <meta name="apple-mobile-web-app-title" content="Flatkit">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" sizes="196x196" href="{{ asset('assets/images/logo.svg') }}">
    <link rel="stylesheet" href="{{ asset('assets/font-awesome/font-awesome.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/css/app.min.css') }}">
</head>
<body>
<div class="app" id="app">
    <!-- MENU --->
    {{ render(path('admin_menu')) }}
    <!-- MENU --->
    <div id="content" class="app-content box-shadow-0" role="main">
        <div class="content-header white box-shadow-0" id="content-header">
            <div class="navbar navbar-expand-lg"><a class="d-lg-none mx-2" data-toggle="modal" data-target="#aside">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
                        <path d="M80 304h352v16H80zM80 248h352v16H80zM80 192h352v16H80z"/>
                    </svg>
                </a>
                <div class="navbar-text nav-title flex" id="pageTitle">Dashboard</div>
                <ul class="nav flex-row order-lg-2">
                    <li class="nav-item dropdown"><a class="nav-link px-3" data-toggle="dropdown"><i
                                    class="fa fa-bell text-muted"></i> <span
                                    class="badge badge-pill up danger">15</span></a>
                        <div class="dropdown-menu dropdown-menu-right w-md animate fadeIn mt-2 p-0">
                            <div class="scrollable hover" style="max-height: 250px">
                                <div class="list">
                                    <div class="list-item" data-id="item-7"><span
                                                class="w-24 avatar circle indigo"><span class="fa fa-bug"></span></span>
                                        <div class="list-body"><a href="" class="item-title _500">Fifth Harmony</a>
                                            <div class="item-except text-sm text-muted h-1x">Send you a invitation to
                                                SWO
                                            </div>
                                            <div class="item-tag tag hide"></div>
                                        </div>
                                        <div><span class="item-date text-xs text-muted">05:35</span></div>
                                    </div>
                                    <div class="list-item" data-id="item-12"><span
                                                class="w-24 avatar circle green"><span
                                                    class="fa fa-dot-circle-o"></span></span>
                                        <div class="list-body"><a href="" class="item-title _500">Ashton Cox</a>
                                            <div class="item-except text-sm text-muted h-1x">Looking for some
                                                client-work
                                            </div>
                                            <div class="item-tag tag hide"></div>
                                        </div>
                                        <div><span class="item-date text-xs text-muted">11:30</span></div>
                                    </div>
                                    <div class="list-item" data-id="item-1"><span class="w-24 avatar circle grey"><span
                                                    class="fa fa-comment"></span></span>
                                        <div class="list-body"><a href="" class="item-title _500">Summerella</a>
                                            <div class="item-except text-sm text-muted h-1x">Send you a message</div>
                                            <div class="item-tag tag hide"></div>
                                        </div>
                                        <div><span class="item-date text-xs text-muted">July 21</span></div>
                                    </div>
                                    <div class="list-item" data-id="item-5"><span
                                                class="w-24 avatar circle blue-grey"><span class="fa fa-github"></span></span>
                                        <div class="list-body"><a href="" class="item-title _500">Radionomy</a>
                                            <div class="item-except text-sm text-muted h-1x">Competitive gaming
                                                ladders
                                            </div>
                                            <div class="item-tag tag hide"></div>
                                        </div>
                                        <div><span class="item-date text-xs text-muted">09:50</span></div>
                                    </div>
                                    <div class="list-item" data-id="item-2"><span class="w-24 avatar circle light-blue"><span
                                                    class="fa fa-git"></span></span>
                                        <div class="list-body"><a href="" class="item-title _500">Kygo</a>
                                            <div class="item-except text-sm text-muted h-1x">What&#x27;s the project
                                                progress now
                                            </div>
                                            <div class="item-tag tag hide"></div>
                                        </div>
                                        <div><span class="item-date text-xs text-muted">08:05</span></div>
                                    </div>
                                    <div class="list-item" data-id="item-9"><span class="w-24 avatar circle cyan"><span
                                                    class="fa fa-puzzle-piece"></span></span>
                                        <div class="list-body"><a href="" class="item-title _500">Pablo Nouvelle</a>
                                            <div class="item-except text-sm text-muted h-1x">It&#x27;s been a Javascript
                                                kind of day
                                            </div>
                                            <div class="item-tag tag hide"></div>
                                        </div>
                                        <div><span class="item-date text-xs text-muted">15:00</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex px-3 py-2 b-t">
                                <div class="flex"><span>6 Notifications</span></div>
                                <a href="index.html">See all <i class="fa fa-angle-right text-muted"></i></a></div>
                        </div>
                    </li>
                    <li class="dropdown d-flex align-items-center"><a href="#" data-toggle="dropdown"
                                                                      class="d-flex align-items-center"><span
                                    class="avatar w-32"><img src="themes/apply/assets/images/a3.jpg"
                                                             alt="..."></span></a>
                        <div class="dropdown-menu dropdown-menu-right w pt-0 mt-2 animate fadeIn">
                            <div class="row no-gutters b-b mb-2">
                                <div class="col-4 b-r"><a href="themes/apply/html/app-user.html"
                                                          class="py-2 pt-3 d-block text-center"><i
                                                class="fa text-md fa-phone-square text-muted"></i> <small
                                                class="d-block">Call</small></a></div>
                                <div class="col-4 b-r"><a href="themes/apply/html/app-message.html"
                                                          class="py-2 pt-3 d-block text-center"><i
                                                class="fa text-md fa-comment text-muted"></i> <small class="d-block">Chat</small></a>
                                </div>
                                <div class="col-4"><a href="themes/apply/html/app-inbox.html"
                                                      class="py-2 pt-3 d-block text-center"><i
                                                class="fa text-md fa-envelope text-muted"></i> <small class="d-block">Email</small></a>
                                </div>
                            </div>
                            <a class="dropdown-item" href="index.html"><span>Profile</span> </a><a class="dropdown-item"
                                                                                                   href="index.html"><span>Settings</span>
                            </a><a class="dropdown-item" href="themes/apply/html/app-inbox.html"><span
                                        class="float-right"><span class="badge info">6</span></span> <span>Inbox</span>
                            </a><a class="dropdown-item" href="themes/apply/html/app-message.html"><span>Message</span></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="index.html">Need help? </a><a class="dropdown-item"
                                                                                         href="index.html">Sign out</a>
                        </div>
                    </li>
                    <li class="d-lg-none d-flex align-items-center"><a href="#" class="mx-2" data-toggle="collapse"
                                                                       data-target="#navbarToggler">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 512 512">
                                <path d="M64 144h384v32H64zM64 240h384v32H64zM64 336h384v32H64z"/>
                            </svg>
                        </a></li>
                </ul>
                <div class="collapse navbar-collapse no-grow order-lg-1" id="navbarToggler">
                    <form class="input-group m-2 my-lg-0"><span class="input-group-btn"><button type="button"
                                                                                                class="btn no-border no-bg no-shadow"><i
                                        class="fa fa-search"></i></button> </span><input type="text"
                                                                                         class="form-control no-border no-bg no-shadow"
                                                                                         placeholder="Search projects...">
                    </form>
                </div>
            </div>
        </div>
        <div class="content-main" id="content-main">
            <div>
                <div class="row no-gutters">
                    <div class="col-6 col-sm-6 col-md-3">
                        <div class="padding"><h5 class="_600"><span class="float-right text-muted"><i
                                            class="fa fa-repeat text-sm text-muted"></i> </span><span>120</span></h5>
                            <div class="text-muted mb-4">Visits</div>
                            <div class="py-3 b-b"><span class="float-right text-md text-primary">+45% <i
                                            class="fa fa-caret-up"></i></span> <span class="_600 d-block">542</span>
                                <small class="text-muted">People</small></div>
                            <div class="py-3"><span class="float-right text-md text-warning">25% <i
                                            class="fa fa-caret-down"></i></span> <span class="_600 d-block">235</span>
                                <small class="text-muted">Active</small></div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-3">
                        <div class="padding"><h5 class="_600"><span class="float-right text-muted"><i
                                            class="fa fa-repeat text-sm text-muted"></i> </span><span>45</span></h5>
                            <p class="text-muted mb-4">New Projects</p>
                            <div class="py-3">
                                <canvas id="chart-doughnut-2" data-plugin="chart" height="100"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-3">
                        <div class="padding"><h5 class="_600"><span class="float-right text-muted"><i
                                            class="fa fa-repeat text-sm text-muted"></i> </span><span>350</span></h5>
                            <div class="text-muted mb-4">Clients</div>
                            <div class="py-3">
                                <canvas id="chart-bar-2"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-3">
                        <div class="padding"><h5 class="_600"><span class="float-right text-muted"><i
                                            class="fa fa-repeat text-sm text-muted"></i> </span><span>579</span></h5>
                            <div class="text-muted mb-4">Tasks</div>
                            <div class="py-3">
                                <canvas id="chart-line-2"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="white">
                    <div class="row no-gutters">
                        <div class="col-sm-6">
                            <div class="p-lg-3">
                                <div class="box-header"><h3>Messages</h3></div>
                                <div class="list inset">
                                    <div class="list-item" data-id="item-9"><span class="w-40 avatar circle cyan"><img
                                                    src="themes/apply/assets/images/a9.jpg" alt="."></span>
                                        <div class="list-body"><a href="" class="item-title _500">Pablo Nouvelle</a>
                                            <div class="item-except text-sm text-muted h-1x">It&#x27;s been a Javascript
                                                kind of day
                                            </div>
                                            <div class="item-tag tag hide"></div>
                                        </div>
                                        <div><span class="item-date text-xs text-muted">15:00</span></div>
                                    </div>
                                    <div class="list-item" data-id="item-7"><span class="w-40 avatar circle indigo"><img
                                                    src="themes/apply/assets/images/a7.jpg" alt="."></span>
                                        <div class="list-body"><a href="" class="item-title _500">Fifth Harmony</a>
                                            <div class="item-except text-sm text-muted h-1x">Send you a invitation to
                                                SWO
                                            </div>
                                            <div class="item-tag tag hide"></div>
                                        </div>
                                        <div><span class="item-date text-xs text-muted">05:35</span></div>
                                    </div>
                                    <div class="list-item" data-id="item-1"><span class="w-40 avatar circle grey"><img
                                                    src="themes/apply/assets/images/a1.jpg" alt="."></span>
                                        <div class="list-body"><a href="" class="item-title _500">Summerella</a>
                                            <div class="item-except text-sm text-muted h-1x">Send you a message</div>
                                            <div class="item-tag tag hide"></div>
                                        </div>
                                        <div><span class="item-date text-xs text-muted">July 21</span></div>
                                    </div>
                                    <div class="list-item" data-id="item-14"><span
                                                class="w-40 avatar circle brown">BW</span>
                                        <div class="list-body"><a href="" class="item-title _500">Brielle Williamson</a>
                                            <div class="item-except text-sm text-muted h-1x">Looking for some
                                                client-work
                                            </div>
                                            <div class="item-tag tag hide"></div>
                                        </div>
                                        <div><span class="item-date text-xs text-muted">08:00</span></div>
                                    </div>
                                    <div class="list-item" data-id="item-12"><span
                                                class="w-40 avatar circle green">AC</span>
                                        <div class="list-body"><a href="" class="item-title _500">Ashton Cox</a>
                                            <div class="item-except text-sm text-muted h-1x">Looking for some
                                                client-work
                                            </div>
                                            <div class="item-tag tag hide"></div>
                                        </div>
                                        <div><span class="item-date text-xs text-muted">11:30</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="p-lg-3">
                                <div class="box-header"><h3>Members</h3></div>
                                <div class="list inset">
                                    <div class="list-item" data-id="item-11"><span class="w-40 avatar circle blue"><i
                                                    class="on b-white avatar-right"></i> TN</span>
                                        <div class="list-body"><a href="" class="item-title _500">Tiger Nixon</a>
                                            <div class="item-except text-sm text-muted h-1x">tiger-nixon@gmail.com</div>
                                            <div class="item-tag tag hide"></div>
                                        </div>
                                        <div>
                                            <div class="item-action dropdown"><a href="#" data-toggle="dropdown"
                                                                                 class="text-muted"><i
                                                            class="fa fa-fw fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right text-color" role="menu"><a
                                                            class="dropdown-item"><i class="fa fa-tag"></i> Action
                                                    </a><a class="dropdown-item"><i class="fa fa-pencil"></i> Another
                                                        action </a><a class="dropdown-item"><i class="fa fa-reply"></i>
                                                        Something else here</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item"><i class="fa fa-ellipsis-h"></i> Separated
                                                        link</a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-item" data-id="item-15"><span class="w-40 avatar circle indigo"><i
                                                    class="on b-white avatar-right"></i> GW</span>
                                        <div class="list-body"><a href="" class="item-title _500">Garrett Winters</a>
                                            <div class="item-except text-sm text-muted h-1x">garrett-winters@gmail.com
                                            </div>
                                            <div class="item-tag tag hide"></div>
                                        </div>
                                        <div>
                                            <div class="item-action dropdown"><a href="#" data-toggle="dropdown"
                                                                                 class="text-muted"><i
                                                            class="fa fa-fw fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right text-color" role="menu"><a
                                                            class="dropdown-item"><i class="fa fa-tag"></i> Action
                                                    </a><a class="dropdown-item"><i class="fa fa-pencil"></i> Another
                                                        action </a><a class="dropdown-item"><i class="fa fa-reply"></i>
                                                        Something else here</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item"><i class="fa fa-ellipsis-h"></i> Separated
                                                        link</a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-item" data-id="item-9"><span class="w-40 avatar circle cyan"><i
                                                    class="on b-white avatar-right"></i> PN</span>
                                        <div class="list-body"><a href="" class="item-title _500">Pablo Nouvelle</a>
                                            <div class="item-except text-sm text-muted h-1x">pablo-nouvelle@gmail.com
                                            </div>
                                            <div class="item-tag tag hide"></div>
                                        </div>
                                        <div>
                                            <div class="item-action dropdown"><a href="#" data-toggle="dropdown"
                                                                                 class="text-muted"><i
                                                            class="fa fa-fw fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right text-color" role="menu"><a
                                                            class="dropdown-item"><i class="fa fa-tag"></i> Action
                                                    </a><a class="dropdown-item"><i class="fa fa-pencil"></i> Another
                                                        action </a><a class="dropdown-item"><i class="fa fa-reply"></i>
                                                        Something else here</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item"><i class="fa fa-ellipsis-h"></i> Separated
                                                        link</a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-item" data-id="item-14"><span class="w-40 avatar circle brown"><i
                                                    class="off b-white avatar-right"></i> BW</span>
                                        <div class="list-body"><a href="" class="item-title _500">Brielle Williamson</a>
                                            <div class="item-except text-sm text-muted h-1x">
                                                brielle-williamson@gmail.com
                                            </div>
                                            <div class="item-tag tag hide"></div>
                                        </div>
                                        <div>
                                            <div class="item-action dropdown"><a href="#" data-toggle="dropdown"
                                                                                 class="text-muted"><i
                                                            class="fa fa-fw fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right text-color" role="menu"><a
                                                            class="dropdown-item"><i class="fa fa-tag"></i> Action
                                                    </a><a class="dropdown-item"><i class="fa fa-pencil"></i> Another
                                                        action </a><a class="dropdown-item"><i class="fa fa-reply"></i>
                                                        Something else here</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item"><i class="fa fa-ellipsis-h"></i> Separated
                                                        link</a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-item" data-id="item-4"><span class="w-40 avatar circle pink"><i
                                                    class="busy b-white avatar-right"></i> JG</span>
                                        <div class="list-body"><a href="" class="item-title _500">Judith Garcia</a>
                                            <div class="item-except text-sm text-muted h-1x">judith-garcia@gmail.com
                                            </div>
                                            <div class="item-tag tag hide"></div>
                                        </div>
                                        <div>
                                            <div class="item-action dropdown"><a href="#" data-toggle="dropdown"
                                                                                 class="text-muted"><i
                                                            class="fa fa-fw fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right text-color" role="menu"><a
                                                            class="dropdown-item"><i class="fa fa-tag"></i> Action
                                                    </a><a class="dropdown-item"><i class="fa fa-pencil"></i> Another
                                                        action </a><a class="dropdown-item"><i class="fa fa-reply"></i>
                                                        Something else here</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item"><i class="fa fa-ellipsis-h"></i> Separated
                                                        link</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <div class="padding"><h6>Sales Statistical Overview</h6>
                                <p class="text-muted my-3">Sale information on advertising, exhibitions, market
                                    research, online media, customer desires, PR and much more</p>
                                <p><i class="fa fa-arrow-circle-o-up text-success mr-1"></i><span class="text-success">15%</span>
                                    more than last week</p><a href="#" class="btn btn-sm btn-rounded success">Update</a>
                                <a href="#" class="btn btn-sm btn-rounded white">See detail</a></div>
                        </div>
                        <div class="col-md-8">
                            <div class="padding">
                                <canvas id="chart-line" height="120"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters align-items-stretch">
                    <div class="col-md-4 white lt">
                        <div class="padding"><span class="badge success float-right">5</span><h6 class="mb-3">
                                Activity</h6>
                            <div class="streamline streamline-dotted">
                                <div class="sl-item b-">
                                    <div class="sl-left"><img src="themes/apply/assets/images/a9.jpg" class="circle"
                                                              alt="."></div>
                                    <div class="sl-content"><span class="sl-date text-muted">15:00</span>
                                        <div><a href="#" class="text-primary">Pablo Nouvelle</a> Added API call to
                                            update track element
                                        </div>
                                    </div>
                                </div>
                                <div class="sl-item b-">
                                    <div class="sl-left"><img src="themes/apply/assets/images/a8.jpg" class="circle"
                                                              alt="."></div>
                                    <div class="sl-content"><span class="sl-date text-muted">14:00</span>
                                        <div><a href="#" class="text-primary">RYD</a> Add inline SVG icon</div>
                                    </div>
                                </div>
                                <div class="sl-item b-">
                                    <div class="sl-left"><img src="themes/apply/assets/images/a1.jpg" class="circle"
                                                              alt="."></div>
                                    <div class="sl-content"><span class="sl-date text-muted">July 21</span>
                                        <div><a href="#" class="text-primary">Summerella</a> Submit a support ticket
                                        </div>
                                    </div>
                                </div>
                                <div class="sl-item b-">
                                    <div class="sl-left"><img src="themes/apply/assets/images/a5.jpg" class="circle"
                                                              alt="."></div>
                                    <div class="sl-content"><span class="sl-date text-muted">09:50</span>
                                        <div><a href="#" class="text-primary">Radionomy</a> Was added to Repo</div>
                                    </div>
                                </div>
                                <div class="sl-item b-">
                                    <div class="sl-content"><span class="sl-date text-muted">13:00</span>
                                        <div><a href="#" class="text-primary">Garrett Winters</a> Followed by Jessic
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 light bg">
                        <div class="padding"><h6 class="mb-3">Tasks</h6>
                            <div class="streamline streamline-dotted">
                                <div class="sl-item b-">
                                    <div class="sl-content"><span class="sl-date text-muted">05:35</span>
                                        <div><a href="#" class="text-primary">Fifth Harmony</a> Bug fixes</div>
                                    </div>
                                </div>
                                <div class="sl-item b-success">
                                    <div class="sl-content"><span class="sl-date text-muted">09:05</span>
                                        <div><a href="#" class="text-primary">Jeremy Scott</a> Assign you a task</div>
                                    </div>
                                </div>
                                <div class="sl-item b-info">
                                    <div class="sl-content"><span class="sl-date text-muted">12:05</span>
                                        <div><a href="#" class="text-primary">Judith Garcia</a> Follow up to close deal
                                        </div>
                                    </div>
                                </div>
                                <div class="sl-item b-primary">
                                    <div class="sl-content"><span class="sl-date text-muted">13:00</span>
                                        <div><a href="#" class="text-primary">Garrett Winters</a> Followed by Jessic
                                        </div>
                                    </div>
                                </div>
                                <div class="sl-item b-">
                                    <div class="sl-content"><span class="sl-date text-muted">11:30</span>
                                        <div><a href="#" class="text-primary">Ashton Cox</a> New feedback from John
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-2"><a href="#" class="btn btn-sm btn-block white">Load More</a></div>
                        </div>
                    </div>
                    <div class="col-md-4 dk">
                        <div class="padding"><h6>Friends</h6>
                            <div class="list inset">
                                <div class="list-item" data-id="item-2"><span class="w-24 avatar circle light-blue"><img
                                                src="themes/apply/assets/images/a2.jpg" alt="."></span>
                                    <div class="list-body"><a href="" class="item-title _500">Kygo</a>
                                        <div class="item-tag tag hide"></div>
                                    </div>
                                    <div>
                                        <div class="item-action dropdown"><a href="#" data-toggle="dropdown"
                                                                             class="text-muted"><i
                                                        class="fa fa-fw fa-ellipsis-v"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right text-color" role="menu"><a
                                                        class="dropdown-item"><i class="fa fa-tag"></i> Action </a><a
                                                        class="dropdown-item"><i class="fa fa-pencil"></i> Another
                                                    action </a><a class="dropdown-item"><i class="fa fa-reply"></i>
                                                    Something else here</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item"><i class="fa fa-ellipsis-h"></i> Separated link</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-item" data-id="item-8"><span class="w-24 avatar circle teal"><img
                                                src="themes/apply/assets/images/a8.jpg" alt="."></span>
                                    <div class="list-body"><a href="" class="item-title _500">RYD</a>
                                        <div class="item-tag tag hide"></div>
                                    </div>
                                    <div>
                                        <div class="item-action dropdown"><a href="#" data-toggle="dropdown"
                                                                             class="text-muted"><i
                                                        class="fa fa-fw fa-ellipsis-v"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right text-color" role="menu"><a
                                                        class="dropdown-item"><i class="fa fa-tag"></i> Action </a><a
                                                        class="dropdown-item"><i class="fa fa-pencil"></i> Another
                                                    action </a><a class="dropdown-item"><i class="fa fa-reply"></i>
                                                    Something else here</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item"><i class="fa fa-ellipsis-h"></i> Separated link</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-item" data-id="item-15"><span
                                            class="w-24 avatar circle indigo">GW</span>
                                    <div class="list-body"><a href="" class="item-title _500">Garrett Winters</a>
                                        <div class="item-tag tag hide"></div>
                                    </div>
                                    <div>
                                        <div class="item-action dropdown"><a href="#" data-toggle="dropdown"
                                                                             class="text-muted"><i
                                                        class="fa fa-fw fa-ellipsis-v"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right text-color" role="menu"><a
                                                        class="dropdown-item"><i class="fa fa-tag"></i> Action </a><a
                                                        class="dropdown-item"><i class="fa fa-pencil"></i> Another
                                                    action </a><a class="dropdown-item"><i class="fa fa-reply"></i>
                                                    Something else here</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item"><i class="fa fa-ellipsis-h"></i> Separated link</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-item" data-id="item-11"><span class="w-24 avatar circle blue">TN</span>
                                    <div class="list-body"><a href="" class="item-title _500">Tiger Nixon</a>
                                        <div class="item-tag tag hide"></div>
                                    </div>
                                    <div>
                                        <div class="item-action dropdown"><a href="#" data-toggle="dropdown"
                                                                             class="text-muted"><i
                                                        class="fa fa-fw fa-ellipsis-v"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right text-color" role="menu"><a
                                                        class="dropdown-item"><i class="fa fa-tag"></i> Action </a><a
                                                        class="dropdown-item"><i class="fa fa-pencil"></i> Another
                                                    action </a><a class="dropdown-item"><i class="fa fa-reply"></i>
                                                    Something else here</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item"><i class="fa fa-ellipsis-h"></i> Separated link</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-item" data-id="item-14"><span
                                            class="w-24 avatar circle brown">BW</span>
                                    <div class="list-body"><a href="" class="item-title _500">Brielle Williamson</a>
                                        <div class="item-tag tag hide"></div>
                                    </div>
                                    <div>
                                        <div class="item-action dropdown"><a href="#" data-toggle="dropdown"
                                                                             class="text-muted"><i
                                                        class="fa fa-fw fa-ellipsis-v"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right text-color" role="menu"><a
                                                        class="dropdown-item"><i class="fa fa-tag"></i> Action </a><a
                                                        class="dropdown-item"><i class="fa fa-pencil"></i> Another
                                                    action </a><a class="dropdown-item"><i class="fa fa-reply"></i>
                                                    Something else here</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item"><i class="fa fa-ellipsis-h"></i> Separated link</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-item" data-id="item-7"><span class="w-24 avatar circle indigo"><img
                                                src="themes/apply/assets/images/a7.jpg" alt="."></span>
                                    <div class="list-body"><a href="" class="item-title _500">Fifth Harmony</a>
                                        <div class="item-tag tag hide"></div>
                                    </div>
                                    <div>
                                        <div class="item-action dropdown"><a href="#" data-toggle="dropdown"
                                                                             class="text-muted"><i
                                                        class="fa fa-fw fa-ellipsis-v"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right text-color" role="menu"><a
                                                        class="dropdown-item"><i class="fa fa-tag"></i> Action </a><a
                                                        class="dropdown-item"><i class="fa fa-pencil"></i> Another
                                                    action </a><a class="dropdown-item"><i class="fa fa-reply"></i>
                                                    Something else here</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item"><i class="fa fa-ellipsis-h"></i> Separated link</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-footer white" id="content-footer">
            <div class="d-flex p-3"><span class="text-sm text-muted flex">&copy; Copyright. Flatfull</span>
                <div class="text-sm text-muted">Version 1.2.0</div>
            </div>
        </div>
    </div>
</div>
<div id="setting" class="">
    <div class="setting dark-white rounded-bottom" id="theme"><a href="#" data-toggle-class="active"
                                                                 data-target="#theme" class="dark-white toggle"><i
                    class="fa fa-gear text-primary fa-spin"></i></a>
        <div class="box-header"><a
                    href="https://themeforest.net/item/apply-web-application-admin-template/21072584?ref=flatfull"
                    class="btn btn-xs rounded danger float-right">BUY</a> <strong>Theme Switcher</strong></div>
        <div class="box-divider"></div>
        <div class="box-body"><p id="settingLayout"><label class="md-check my-1 d-block"><input type="checkbox"
                                                                                                name="fixedAside">
                    <i></i> <span>Fixed Aside</span></label><label class="md-check my-1 d-block"><input type="checkbox"
                                                                                                        name="fixedContent">
                    <i></i> <span>Fixed Content</span></label><label class="md-check my-1 d-block"><input
                            type="checkbox" name="folded"> <i></i> <span>Folded Aside</span></label><label
                        class="md-check my-1 d-block"><input type="checkbox" name="container"> <i></i> <span>Boxed Layout</span></label><label
                        class="md-check my-1 d-block"><input type="checkbox" name="ajax"> <i></i>
                    <span>Ajax load page</span></label><label class="pointer my-1 d-block" data-toggle="fullscreen"
                                                              data-plugin="fullscreen" data-target="fullscreen"><span
                            class="ml-1 mr-2 auto"><i class="fa fa-expand d-inline"></i> <i
                                class="fa fa-compress d-none"></i> </span><span>Fullscreen mode</span></label></p>
            <p>Colors:</p>
            <p><label class="radio radio-inline m-0 mr-1 ui-check ui-check-color"><input type="radio" name="theme"
                                                                                         value="primary"> <i
                            class="primary"></i></label><label
                        class="radio radio-inline m-0 mr-1 ui-check ui-check-color"><input type="radio" name="theme"
                                                                                           value="accent"> <i
                            class="accent"></i></label><label
                        class="radio radio-inline m-0 mr-1 ui-check ui-check-color"><input type="radio" name="theme"
                                                                                           value="warn"> <i
                            class="warn"></i></label><label class="radio radio-inline m-0 mr-1 ui-check ui-check-color"><input
                            type="radio" name="theme" value="info"> <i class="info"></i></label><label
                        class="radio radio-inline m-0 mr-1 ui-check ui-check-color"><input type="radio" name="theme"
                                                                                           value="success"> <i
                            class="success"></i></label><label
                        class="radio radio-inline m-0 mr-1 ui-check ui-check-color"><input type="radio" name="theme"
                                                                                           value="warning"> <i
                            class="warning"></i></label><label
                        class="radio radio-inline m-0 mr-1 ui-check ui-check-color"><input type="radio" name="theme"
                                                                                           value="danger"> <i
                            class="danger"></i></label></p>
            <div class="row no-gutters">
                <div class="col"><p>Brand</p>
                    <p><label class="radio radio-inline m-0 mr-1 ui-check"><input type="radio" name="brand"
                                                                                  value="dark-white"> <i
                                    class="light"></i></label><label
                                class="radio radio-inline m-0 mr-1 ui-check ui-check-color"><input type="radio"
                                                                                                   name="brand"
                                                                                                   value="dark"> <i
                                    class="dark"></i></label></p></div>
                <div class="col mx-2"><p>Aside</p>
                    <p><label class="radio radio-inline m-0 mr-1 ui-check"><input type="radio" name="aside"
                                                                                  value="white"> <i
                                    class="light"></i></label><label
                                class="radio radio-inline m-0 mr-1 ui-check ui-check-color"><input type="radio"
                                                                                                   name="aside"
                                                                                                   value="dark"> <i
                                    class="dark"></i></label></p></div>
                <div class="col"><p>Themes</p>
                    <div class="clearfix"><label class="radio radio-inline ui-check"><input type="radio" name="bg"
                                                                                            value=""> <i
                                    class="light"></i></label><label class="radio radio-inline ui-check ui-check-color"><input
                                    type="radio" name="bg" value="dark"> <i class="dark"></i></label></div>
                </div>
            </div>
            <p>Demos</p>
            <div class="text-md"><a href="themes/apply/html/index.html" class="no-ajax badge light">0</a> <a
                        href="themes/apply/html/dashboard-1.html" class="no-ajax badge light">1</a> <a href="index.html"
                                                                                                       class="no-ajax badge light">2</a>
                <a href="index.html" class="no-ajax badge light">3</a> <a href="index.html" class="no-ajax badge light">4</a>
                <a href="index.html" class="no-ajax badge light">5</a> <a href="index.html" class="no-ajax badge light">6</a>
                <a href="index.html" class="no-ajax badge light">7</a> <a href="index.html" class="no-ajax badge light">8</a>
                <a href="index.html" class="no-ajax badge light">9</a> <a href="index.html" class="no-ajax badge light">RTL</a>
            </div>
        </div>
    </div>
</div>
<script src="{{ asset('assets/js/app.min.js') }}"></script>
<center><font size="2">This is the free demo result. For a full version of this website, please go to <a
                href="https://www6.waybackmachinedownloader.com/website-downloader-online/scrape-all-files/">https://www6.waybackmachinedownloader.com/website-downloader-online/scrape-all-files/</a></font>
</center>
</body>
</html>