{% extends 'back/base_admin.html.twig' %}

{% block title %}Mot de passe{% endblock %}

{% block body %}
    <!-- BREADCRUMBS -->
    <div class="row pb-4">
        <div class="col-auto">
            <i class="fa fa-user circular circular-success"></i>
        </div>
        <div class="col pt-3">
            <h1 class="h1 bdc-title">Mon Compte</h1>
            <span class="text-grey">Gestion de votre compte</span>
        </div>
        <div class="col text-right">
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-12">
            {{ wo_render_breadcrumbs() }}
        </div>
    </div>
    <!-- BREADCRUMBS -->

    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="box p-4">

                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_errors(form) }}
                <div class="box p-4">
                    <div class="box-header p-0 pb-2 mb-3"><h3>Changement de mot de passe</h3></div>



                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="text-grey required">Ancien mot de passe</label>
                                {{ form_widget(form.oldpassword) }}
                                {{ form_errors(form.oldpassword) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="text-grey required">Mot de passe</label>
                                {{ form_widget(form.password.first) }}
                                {{ form_errors(form.password.first) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="text-grey required">Répéter le mot de passe</label>
                                {{ form_widget(form.password.second) }}
                                {{ form_errors(form.password.second) }}
                            </div>
                        </div>
                    </div>
                </div>


                    <button type="submit" class="btn btn-success-light">Sauvegarder</button>
                    {{ form_end(form) }}


            </div>
        </div>
    </div>
{% endblock %}
