<!DOCTYPE html>
<html lang="FR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Campus Book {% block title %}{% endblock %}</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <link rel="shortcut icon" href="{{ asset('assets/images/favicon.ico') }}">

    <!-- Magnific-popup -->
    <link rel="stylesheet" href="
    ">

    <!--Slider Css-->
    <link rel="stylesheet" href="{{ asset('assets/zentafy/css/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/zentafy/css/owl.theme.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/zentafy/css/owl.transitions.css') }}">

    <!-- Icon -->
    <link href="{{ asset('assets/zentafy/css/mobiriseicons.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('/assets/zentafy/css/materialdesignicons.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/zentafy/css/animate.min.css') }}">

    <!--bootstrap Css-->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/zentafy/css/bootstrap.min.css') }}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/zentafy/css/style.css') }}">


</head>

    <body>
        {% include('front/default/navbar.html.twig') %}
        {% block body %}{% endblock %}
        {% include('front/default/footer.html.twig') %}

        <!-- JAVASCRIPTS -->
        <script src="{{ asset('assets/zentafy/js/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/zentafy/js/popper.min.js') }}"></script>
        <script src="{{ asset('assets/zentafy/js/bootstrap.min.js') }}"></script>

        <!--TESTISLIDER JS-->
        <script src="{{ asset('assets/zentafy/js/owl.carousel.min.js') }}"></script>
        <script src="{{ asset('assets/zentafy/js/isotope.js') }}"></script>
        <script src="{{ asset('assets/zentafy/js/jquery.magnific-popup.min.js') }}"></script>
        <script src="{{ asset('assets/zentafy/js/scrollspy.min.js') }}"></script>
        <script src="{{ asset('assets/zentafy/js/jquery.easing.min.js') }}"></script>
        <script src="{{ asset('assets/zentafy/js/custom.js') }}"></script>

    </body>


<!-- Mirrored from romantic-lalande-c64436.netlify.app/index-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 16 Feb 2021 09:56:23 GMT -->
</html>