<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
    <title>{{ nomdusite }} | {% block title %}{% endblock %}</title>
    <meta name="description" content="{{ descriptiondusite }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
    <link rel="apple-touch-icon" href="{{ asset('assets/images/favicon.ico') }}">
    <meta name="apple-mobile-web-app-title" content="Flatkit">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" sizes="196x196" href="{{ asset('assets/images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ asset('assets/font-awesome/font-awesome.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/css/app.min.css') }}">
</head>
<body>
<div class="app" id="app">
    <!-- MENU -->
    {{ render(path('admin_menu')) }}
    <!-- MENU -->
    <div id="content" class="app-content box-shadow-0" role="main">
        {{ render(path('admin_navbar')) }}
        <div class="content-main" id="content-main">
            <div class="padding">
            <!-- FLASHS -->
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <!-- FLASHS -->
            {% block body %}{% endblock %}
            </div>
        </div>
        <div class="footer-custom">
            <hr/>
        </div>
    </div>
</div>
<script src="{{ asset('assets/js/app.min.js') }}"></script>
{% block javascript %}
{% endblock %}
</body>
</html>