<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
    <title>{{ nomdusite }} | {% block title %}{% endblock %}</title>
    <meta name="description" content="{{ descriptiondusite }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
    <link rel="apple-touch-icon" href="{{ asset('assets/images/logo.png') }}">
    <meta name="apple-mobile-web-app-title" content="Flatkit">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" sizes="196x196" href="{{ asset('assets/images/logo.png') }}">
    <link rel="stylesheet" href="{{ asset('assets/fontawesome5152/css/all.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/css/app.min.css') }}">
</head>
<body>
<div class="app" id="app">
    <!-- MENU -->
    {{ render(path('admin_menu')) }}
    <!-- MENU -->
    <div id="content" class="app-content box-shadow-0" role="main">
        {{ render(path('admin_navbar')) }}
        <div class="content-main" id="content-main">
            <div class="padding">
            <!-- FLASHS -->
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <!-- FLASHS -->
            {% block body %}{% endblock %}
            </div>
        </div>
        <div class="footer-custom">
            <hr/>
            <div class="text-center">
                    <span class="text-muted">Campus Book<br/>
                    Tous droits réservés.<br/>
                        Développé avec &hearts; par les élèves</span>
            </div>
        </div>
    </div>
</div>

<!-- DELETE MODAL -->
<div id="modalDelete" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><h4 class="modal-title">Suppression</h4></div>
            <div class="modal-body text-center p-lg">
                <h5>Êtes-vous sûr de vouloir supprimer l'objet ?</h5>
                <br/>
                <p id="modalDeleteLabel"></p>
                <p>En attente de votre confirmation.</p>
            </div>
            <div class="modal-footer">
                <a href="" id="modalLinkDelete" class="btn btn-danger">Confirmer</a>
                <button type="button" class="btn btn-grey p-x-md" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<!-- DELETE MODAL. -->

<script src="{{ asset('assets/js/app.min.js') }}"></script>
<script type="text/javascript">
    function deleteElement(element) {
        let modalDeleteLabel = document.getElementById("modalDeleteLabel");
        modalDeleteLabel.innerText = element.getAttribute('data-delete-label');

        let urlDelete = element.getAttribute('data-delete-path')

        let modalLinkDelete = document.getElementById("modalLinkDelete");
        modalLinkDelete.setAttribute("href", urlDelete);
    }
</script>
{% block javascript %}
{% endblock %}
</body>
</html>
