{% extends 'base_admin.html.twig' %}

{% block title %}Liste Utilisateurs{% endblock %}

{% block body %}
    <!-- BREADCRUMBS -->
    <div class="row pb-4">
        <div class="col-auto">
            <i class="fa fa-user circular circular-success"></i>
        </div>
        <div class="col pt-3">
            <h1 class="h1 bdc-title">Liste Utilisateurs</h1>
            <span class="text-grey">Gestion des utilisateurs</span>
        </div>
        <div class="col text-right">
            <a href="{{ path('user_new') }}" class="btn btn-success-light text-white btn-md"><i class="fa fa-plus"></i> <span
                        class="px-2">Créer</span></a>
        </div>
    </div>
    <!-- BREADCRUMBS -->

    <!-- BOX FILTRES -->
    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="box">
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn collapsed" data-toggle="collapse" data-target="#collapseOne"
                                        aria-expanded="false" aria-controls="collapseOne">
                                    <i class="fa fa-sort-down align-text-top"></i> <span class="ml-2">Filtres</span>
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                Formulaire
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- BOX FILTRES -->

    <!-- TABLEAU LISTING OBJETS -->
    <div class="row">
        <div class="col-12 col-lg-12">
            <table class="table table-bordered bg-white">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Roles</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a href="{{ path('user_show', {'id': user.id}) }}" class="btn btn-grey-light btn-md"><i
                                            class="fa fa-eye"></i> <span class="font-weight-normal">Voir</span></a>
                                <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-grey btn-md"><i
                                            class="fa fa-edit"></i> <span class="font-weight-normal">Modifier</span></a>
                                <a href="{{ path('user_delete_force', {'id': user.id}) }}"
                                   class="btn btn-danger btn-md text-white"><i class="fa fa-trash"></i> <span
                                            class="font-weight-normal">Supprimer</span></a>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">
                            <div class="alert alert-danger">Aucun résultat trouvé</div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- TABLEAU LISTING OBJETS -->
{% endblock %}

