{% extends 'base_admin.html.twig' %}

{% block title %}Liste Utilisateurs{% endblock %}

{% block body %}
    <!-- BREADCRUMBS -->
    <div class="row pb-4">
        <div class="col-auto">
            <i class="fa fa-user circular circular-success"></i>
        </div>
        <div class="col pt-3">
            <h1 class="h1 bdc-title">Liste Utilisateurs</h1>
            <span class="text-grey">Gestion des utilisateurs</span>
        </div>
        <div class="col text-right">
            <a href="{{ path('user_new') }}" class="btn btn-success-light text-white btn-md"><i class="fa fa-plus"></i>
                <span
                        class="px-2">Créer</span></a>
        </div>
    </div>
    <!-- BREADCRUMBS -->

    <!-- BOX FILTRES -->
    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="box">
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn collapsed" data-toggle="collapse" data-target="#collapseOne"
                                        aria-expanded="false" aria-controls="collapseOne">
                                    <i class="fa fa-sort-down align-text-top"></i> <span class="ml-2">Filtres</span>
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                Formulaire
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- BOX FILTRES -->

    <!-- TABLEAU LISTING OBJETS -->
    <div class="row">
        <div class="col-12 col-lg-12">
            <table class="table table-bordered bg-white">
                <thead>
                <tr>
                    <th></th>
                    <th>Username</th>
                    <th>Roles</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td class="text-center"><input type="checkbox"/></td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-grey btn-md"><i
                                            class="fa fa-pencil"></i> <span
                                            class="font-weight-normal">Modifier</span></a>

                                <button class="btn btn-danger btn-md open-modal-delete" data-toggle="modal" data-target="#modal-delete" data-id="{{ user.id }}" data-user="{{ user.username }}">
                                    <i class="fa fa-trash"></i>
                                    <span class="font-weight-normal">Supprimer</span>
                                </button>

                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">
                            <div class="alert alert-danger">Aucun résultat trouvé</div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- TABLEAU LISTING OBJETS -->


    <div id="modal-delete" class="modal" data-backdrop="true" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"><h5 class="modal-title">Modal</h5></div>
                <div class="modal-body text-center p-lg">
                    <p>Êtes-vous sûr de vouloir supprimer l'utilisateur <span id="modal-username-delete"></span> ?</p>
                </div>
                <div class="modal-footer">
                    <button id="delete-modal-delete" class="btn btn-success-light">Confirmer</button>
                    <button type="button" class="btn danger p-x-md" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL DELETE -->

    <!-- MODAL DELETE -->

    <!-- JQUERY DELETE -->
    {% block javascript %}
        <script type="text/javascript">
            var userId = null;
            $(".open-modal-delete").on("click", function () {
                userId = null;
                $("#modal-username-delete").text($(this).attr("data-user"));
                userId = $(this).attr("data-id");
            });

            $("#delete-modal-delete").on("click", function () {
                $.ajax({
                    url: "{{ path('user_delete_ajax') }}",
                    type: "POST",
                    dataType: "json",
                    data: {
                        "userId": userId
                    },
                    async: true,
                    success: function (data) {
                        userId = null;
                        $("#modal-delete").modal('hide');
                        location.reload();
                    }
                });
                userId = null;
            });
        </script>
    {% endblock %}
    <!-- JQUERY DELETE -->

{% endblock %}

